<!DOCTYPE html>
<html>
	<!-- Reference: https://gist.github.com/madan712/b648eaa311f1bf0e7dd5 // This line is a comment -->
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.prod.min.js"
			integrity="sha512-3CesFAr6COyDB22AiVG2erk2moD1FeL3VMx6UezptTW3qmYdcQhfv6yDGmH4ICNTxd0Rs2AbMQ0Q5lG7J/8n3Q=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="./game2048.css">
	</head>
	<body>

	<div id="app">
	<div id="canvas" tabindex="0" ref="game"
		@keyup.left="left"
		@keyup.right="right"
		@keyup.up="up"
		@keyup.down="down">
	<div class="board">
		<h1>The 2048 Game</h1>
		<div class="heading">
			<span>Hello, <input placeholder="name" v-model="name">!</span>
			<button @click="new_game()">New Game</button>
		</div>

		<div v-for="(row, i) in grid">
			<div :class="i<grid.length-1 ? 'row' : 'row row4'">
				<div :class="cell_class(i, j)" v-for="(col, j) in row">
					<div>{{ grid[i][j]||'' }}</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="inline">Score: {{score}}</div>
		<div class="inline right">High Score: {{ high_score }}</div>

		<h2>Instructions:</h2>
		<ul>
			<li>Use arrow keys to play the game;</li>
			<li>Click the New Game button to reset.</li>
		</ul>
	</div>
	</div>
	<h3>Top 10 Scores:</h3>
	<ol class="top10">
		<li v-for="(row) in top10">
			<span v-if="row">{{row}}</span>
		</li>
	</ol>
	</div>
	<script src="./game2048.js"></script>
	</body>
</html>